body {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.wrapper {
    flex: 1;
}

/* Tambahkan CSS untuk navbar */
.navbar {
    background-color: #333;
    height: 50px;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.navbar li {
    float: left;
}

.navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar li a:hover {
    background-color: #111;
}

.navbar li a:active {
    background-color: #4caf50;
}

/* Tambahkan CSS untuk footer */
footer {
    background-color: #333;
    color: white;
    padding: 20px 0;
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
}
.footer-wrapper {
    flex-shrink: 0;
    position: sticky;
    bottom: 0;
}
